/* Styles pour graph de statistiques et liste */
.statistics-section {
    width: 92%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 1%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.statistics-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
    max-width: 65%; 
}


.date-box {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    color: #514077;
    border: 1px solid #e0e0e0;
}

.date-box i {
    margin-right: 10px;
    color: #514077;
}


.statistics-section h2 {
    color: #536776;
    margin-bottom: 20px;
}

.statistics-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap; 
}

.statistics-left {
    flex: 2; 
}

.bar-chart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    position: relative;
    padding-right: 20px;
}

.Ordonnées {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 10px;
}

.Ordonnées span {
    font-size: 12px;
    color: #536776;
}


.bars-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 95%;
    border-left: 2px solid #eceef2;  /* J'ai ajouté des bords pour les axes */
    border-bottom: 2px solid #eceef2;
}

.bar-background {
    background-color: #EDE7FD; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 3%; 
    height: 100%; 
    position: relative;
}

.bar {
    width: 100%;
    background-color: #433361;
    transition: transform 0.3s ease;
}


.Abscisse {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
}

.Abscisse span {
    font-size: 12px;
    color: #536776;
    text-align: center;
    flex: 1;
}

.statistics-right {
    flex: 1;
    padding-left: 20px;
    max-width: 300px; 
    margin-top: -50px;
}

.statistics-right h3 {
    font-size: 17px;
    margin-bottom: 19px;
    font-weight: 500; 
    color: #1F384C;
}

.keywords-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.keywords-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eceef2;
}

.keywords-list li:last-child {
    border-bottom: none;
}

.keyword {
    font-size: 14px;
    color: #536776;
    font-weight: 500;
}

.value {
    font-size: 14px;
    color: #536776; 
}

.bar-extended {
    position: relative;
}


/* Pour écran mobile */
@media (max-width: 768px) {
    .statistics-header {
        max-width: 100%; 
    }
    .statistics-right {
        margin-top: 0px;
    }
}
